.box{
	border: 3px solid black;
	border-radius: 10px;
	height: 200px;
}
.message_box{
	border: 3px solid black;
	border-radius: 10px;
	height: 200px;
	padding: 20px;
	overflow: scroll;
}
.green{
	color: green;
}
.red{
	color: red;
}